body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('imagens/ceu-noturno-escuro-com-estrelas-brilhantes-para-o-fundo_491799-3987.avif');
    color: white;
    text-align: center;
  }